// thread_id (optional, default: null)
// skip (optional, default: true)

{
  // Example: channel or chat without topics
  "-1001234567890": [
    {
      "target_chat_id": -1009876543210,
      "skip": false
    }
  ],
  // Example: chat with topics
  "-1001122334455": [
    // topics
    {
      "thread_id": 11,
      "target_chat_id": -1009988776655,
      "skip": false
    },
    {
      "thread_id": 12,
      "target_chat_id": -1009988776655
    }
  ]
}